
accent-color = #B81A42
font = Source Sans Pro, sans-serif

body
  background white
  margin 0
  padding 0
  overflow-x hidden
  font 20px font

h1
  n = 50vw
  k = 10vw
  background accent-color
  color white
  font 5vw font
  text-align center
  transform rotate(-5deg)
  margin 1em (0 - n)
  padding 0.3em (n + k)
  @media (max-width: 720px)
    font-size 9vw

h2
  font 25px font
  text-align center

.main
  padding 10px 10px
  margin 0 auto
  max-width 300px

a
  color #039

ul
  margin-top 0

li
  margin-top 1ex
